/***************
 DESIGN ELEMENTS 
***************/
:root {
    --orange:#F37021; 
    --darkGray: #323232; 
    --white: #fff;
    --lightGray: #808080;
    --blue: #21589F;
    --green: #159E7C;
}

.viewMobile {
    display:none !important;
}

/*Scrollbar*/
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
	background-color:var(--white);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
}
 
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 10px;
}


/* TRANSITIONS */
.card, input, select, textarea, .button, .opener a{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* HIGHLIGHTS */
::selection {
    background: var(--orange) !important; /* WebKit/Blink Browsers */
    color:var(--white);
}
::-moz-selection {
    background: var(--orange) !important; /* Gecko Browsers */
    color:var(--white);
}

html, body {
	background:#fff;
	font-family: "azo-sans-web", arial, helvetica, sans-serif !important;
	font-size: 14px !important;
	color:var(--darkGray);
	margin:0;
	padding:0;
	height:100%;
}

h1 {font-size:2em!important;}
h2 {font-size:1.5em !important;}
h3 {font-size:1.3em !important;}
h4 {font-size:1em !important;}

h1, h2, h3, h4, p {
    padding-bottom:1em !important;
    line-height: 1.5 !important;
}

span {
	color:var(--lightGray);
}

input[type='checkbox'] {
	float:left;
	margin-right:1em !important;
}

input, select, textarea{
	outline:0;
	border:1px solid #BFBFBF;
	padding:1em;
	margin:1em 0;
    background:var(--white);
	font-family:'Azo Sans', arial, helvetica, sans-serif !important;
    resize: vertical;
    
    /*
    
    Removes gloss from iOS.. but also removes
    border in Chrome.
    
    -webkit-appearance:caret;
    
    */
}

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus{
    border:1px solid var(--darkGray);
}

input[type='submit'] {cursor: pointer;}
input[type='submit']:hover {border:0px;}


select {
    display:inline-block;
    height:3.2em;
    border-radius: 0 !important;
}

.list {
    list-style-type:disc;
    list-style-position: inside;
}

.list li {
    margin-bottom:1em;
    line-height: 1.7em;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom:1.5em;
    line-height:1.5em;
}

.bold {
	font-weight:bold;
}

dl dt , dl dd {
    margin-bottom: 1.5em;
}

dl dt {
    font-weight:bold;
}

.orangeCard {
    background:var(--orange) !important;
    color:var(--white) !important;
}

.orangeCard p {
    color:var(--white) !important;
}



/******
BUTTONS
******/

.button {
	display:inline-block;
    color:var(--white) !important;
    padding:1em;
	border-radius:5px;
	font-size:1em !important;
	outline:0;
	border:0;
}

.orange {
    color:var(--white) !important;
    background:var(--orange) !important;
}

.orange:hover {
    background:var(--lightGray) !important;
}

.outline {
    background:transparent !important;
    color:var(--white) !important;
    border:1px solid var(--white) !important;
}

.outline:hover {
    border:1px solid var(--lightGray) !important;
}


/***************
 CARD DESIGNS 
***************/

.bigCard, .card, .post {
	position:relative;
	width:100%;
	float:left;
	background:var(--white);
	border: 1px solid #BFBFBF;
	box-sizing: border-box !important;
    margin:1em 0;
    box-shadow: 0px 2px 10px 0px rgba(191,191,191,0.5);
}

.card section {
    padding:0.5em 1em;    
}

.bigCard .image {
	display:inline-block;
}

.bigCard .image li {
	width:300px;
	height:300px;
	background:var(--lightGray);
	margin:1em 0;
}

.mainHeader {
	font-size:2em !important;
	font-weight:bold;
	padding:1em 0;
}

.bigCard h1 {
	font-size:1.5em !important;
	text-align: center;
	padding-bottom:1em;
}

.bigCard h3 {
	color: var(--lightGray);
	font-size:1.2em !important;
	letter-spacing: 0px;
	line-height: 1.5;
	padding-bottom:1em;
}

.bigCard .centre {
    text-align: center;
}

.bigCard .blogImage {
    width:100%;
    height:400px;
    background-image:url('http://entropymag.org/wp-content/uploads/2014/10/outer-space-wallpaper-pictures.jpg');
    background-size:cover;
    background-position:center;
}

.bigCard a:hover {
	color:var(--darkGray);
}

/* Card */
.card .logo {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.50);
	width:60px;
	height:60px;
	position: absolute;
	background-image:url('https://scontent-sin6-1.xx.fbcdn.net/t31.0-8/1496167_195242300847867_9193053891343381776_o.png');
	background-size:cover;
	background-position: center;
	top:0;
	left:10px;
}

.card .logo a {
    display:block;
    width:auto;
    height:100%;
}

.card p {
    color:var(--lightGray);
    font-size:1em;
    line-height: 1.4;
}

	.card h1 {
		font-size:1.2em !important;
	}

.type,
.workingHours{
    font-size:0.8em;
	color:var(--white);
	background:transparent;
	text-transform: uppercase;
	padding:5px 7px;
}

.card h1 a {
    color:var(--darkGray) !important;
}

	.card h3 {
		font-size:1em !important;
		color:var(--lightGray);
	}

	.location {
		position:absolute;
		bottom:0;
		left:0;
	}

	.cardImage .type, 
    .cardImage .workingHours {
		position:absolute;
		top:10px;
		right:0;
        padding:0.5em !important;
	}


    .cardImage .workingHours {
        top:35px;
    }

	.card .cardImage {
		width:100%;
        height:169px;
		position:relative;
		background-image:url('https://scontent-sin6-1.xx.fbcdn.net/t31.0-8/13938224_279117285793701_5749778601323322627_o.jpg');
		background-size:cover;
		background-position: center;
        margin-bottom:1em;
	}

	.card a:link, .card a:visited {
		text-decoration: none;
		color:var(--lightGray);
	}

	.card a:hover, .card a:active {
		text-decoration: underline;
		color:var(--lightGray);
	}

a:link, a:visited {
	color:rgba(255,255,255,0.7);
	text-decoration:none;
}

a:hover, a:active {
	color:rgba(255,255,255,1);
	text-decoration:none;
}

.dark :link, .dark:visited {
		color:rgba(0,0,0,0.7);
		text-decoration:none;
}

.dark :hover, .dark:active {
		color:rgba(0,0,0,1);
		text-decoration:none;
}

/***************
	HEADER 
***************/

.beta {
    position:absolute; 
    top:6.5em; 
    left:8.7em; 
    letter-spacing:5px;
}



.nav a:link,
.nav a:visited,
.absoluteNav a:link,
.absoluteNav a:visited,{
	color:var(--lightGray) !important;
}

.nav a:hover,
.nav a:active,
.absoluteNav a:hover,
.absoluteNav a:active{
	color:var(--white) !important;
	text-decoration:none !important;
}

.nav,
.absoluteNav{
	width:100%;
	background:var(--darkGray);
	height:100;
	font-size:11px;
    z-index: 999;
    text-transform: uppercase;
	border-bottom:5px solid var(--orange);
}

.absoluteNav {
    position: absolute;
    top:0;
    left:0;
    background-color:transparent;
    border:0px solid transparent;
}

.nav ul,
.absoluteNav ul{
	float:right;
	margin-top:2.5em;
	height:50px;
}

.nav ul li,
.absoluteNav ul li{
	float:left !important;
	margin:2em 0.8em;
}

.nav .logo {
	height:90px;
	width:auto;
	float:left;
	margin-top:1em;
}

.active {
    color:var(--white) !important;
    padding-bottom:1em;
}

.user {
	border-left: 1px solid var(--lightGray);
    padding-left:0.8em;
    margin-left:0.8em;
}

.user li {
    margin-top:1em !important;
}

.notification {
    width:5px;
    height:5px;
    border-radius: 50%;
    background:var(--orange);
    position:absolute;
    top:4em;
    right:9.2em;
}

/*Sign in / Log in Pop Up*/
.overlay {
  position: fixed;
  z-index:999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(243,112,33,0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;  

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 620px;
  position: relative;
}

.popup input {
    width:80%;
    margin:0.5em 0;
}

.popup input[type="submit"] {
    width:auto;
    float:right;
}

.popup select{
    width:100%;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: var(--orange) !important;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
    text-transform: none;
}


/*Drop Downs*/
.dropbtn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-bottom:1em;
}

.dropdown .button {
    padding:0.8em 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:20px;
    z-index: 999;
    background-color: var(--white);
    min-width:0px;
    max-width: 300px;
    border: 1px solid #BFBFBF;
    box-shadow: 0px 2px 4px 0px rgba(191,191,191,0.30);
    text-transform: none;
    height:auto;
    max-height:300px;
    overflow: auto;
}

.dropdown-content ul {
	margin:0;
	padding:0;
    display:inline-block;
}

.dropdown-content ul li {
	float:left;
	clear:both;
	margin:0;
	padding:1em;
}

.dropdown-content a:link,
.dropdown-content a:visited {
	color:var(--lightGray) !important;
}

.dropdown-content a:hover,
.dropdown-content a:active {
	color:var(--darkGray) !important;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .noticePost {
    display: inline-block;
    margin:1.5em 0;
}

.dropdown .noticePost p {
	line-height:1.5;
	margin-bottom:1em;
}

.dropdown .userPic {
    width:40px;
    height:40px;
    background-image:url('https://scontent-sin6-1.xx.fbcdn.net/t31.0-8/1496167_195242300847867_9193053891343381776_o.png');
    background-size:cover;
    background-position: center;
}

/*When user is on mobile*/
.showMobile {
    display:none;
}

/***************
	HOMEPAGE 
***************/

.darkBackground {
	width:100%;
	position:absolute;
	height:100%;
	background:rgba(0,0,0,0.6);
}

.opener {
	width:100%;
	position:relative;
    height: 500px;
    background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/0E0M5W9O3V.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.opener h1, .opener h2 {
	color:var(--white);
    text-align: center;
}

.opener h1 {
    font-size:3.5em !important;
    margin-top:2em;
    font-weight: bold;
}

.opener h2 {
    font-size:1.5em !important;
}

.opener .grid-25 a {
	border:1px solid var(--white);
	display:block;
	text-align:center;
	padding:1em;
	border-radius:5px;
	text-transform:uppercase;
}

.opener .grid-25 a:hover {
	background:var(--orange);
}

.blog {
	width:100%;
	height:auto;
	background:var(--darkGray);
	color:#fff;
	padding:2em 0;
}

.blog h1 {
	text-transform:uppercase;
	font-weight:700;
}

.workplacesList {
	text-align:center;
	padding:1em 0;
	text-transform:uppercase;
	line-height:1.5;
    font-size:1.5em !important;
}

.newWorkplaces {
	padding:1em 0;
}

	.newWorkplaces li {
		float:left;
		margin-bottom:1em;
	}

	.newWorkplaces img {
		width:100%;
		height:auto;
	}

.blogPost {
	margin-bottom:2em;
    width:100%;
}

	.blogPost h3 {
		line-height: 1.5;
		padding-top:10px;
        height:3em;
	}

	.blogPost .blogImg {
		height:185px;
		width:100%;
		background:url('http://skitterphoto.com/wp-content/uploads/2015/03/Willemswerf-office-building-free-license-cc0-980x649.jpg');
		background-size:cover;
		background-position:center;
	}



.box {
    position:relative;
    height:40px;
    line-height: 40px;
    padding:1em 0;
}

.box h1 {
    padding:0 !important;
}

.box a {
    display: inline-block;
    float:right;
}
/***************
	FOOTER 
***************/

/*KEEPS FOOTER BOTTOM OF PAGE*/

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:285px; /* Height of the footer element */
}

footer {
	background-color:var(--orange);
	width:100%;
	height:auto;
	padding:30px 0 !important;
	font-size:12px !important;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer h4 {
	color:#fff;
	text-transform: uppercase;
	line-height: 3;
    font-weight: bold;
    font-size:1.5em !important;
}

footer ul li {
	float:left;
	line-height: 2;
	clear:both;
	text-transform: capitalize;
}

footer a:link,
footer a:visited {
	color:var(--white) !important;
}

#social li {
	clear:none !important;
	margin-right:5%;
}

/***************
	WORKPLACES 
***************/

.filter {
	background-image:url('https://static.pexels.com/photos/28756/pexels-photo.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	position:relative;
	width:100%;
	height:275px;
}

.filter h1 {
	font-size:2em !important;
	margin-top:1.5em;
	color:var(--white);
}

/***************
	companyProfile 
***************/
.darktext{
    color:var(--white) !important;
}

.darktext span {
    font-size:0.8em;
    text-transform: uppercase;
}

.person {
    width:100%;
    height:434px;
    background-size:cover;
    background-position: center;
    position:relative;
}


.gradient {
    position:absolute;
    bottom:0 !important;
    width:100%;
    left:0;
    box-sizing: border-box !important;
    padding:1em;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

iframe {
    width:100%;
}

.square {
    width:100%;
    height:299.328px;
    background-size:cover;
    background-position: center;    
    margin:1em 0 0 0;
    float:left;
}

.smallSquare {
    height: 219.500px;
    margin:0em;
}

.perks li:before {
    content:'-';
}

.perks li {
    margin:0 0 1em 0;
    line-height: 1.3;
}

.bigText h1 {font-size:1.5em !important}
.bigText p {font-size:1.1em !important}



/**** OLD BUT STILL NEEDED *****/

.companyHeader {
	width:100%;
	height:262px;
	position:relative;
	background-color:var(--darkGray);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.companyHeader h1 {
	color:var(--white);
	padding:2em 0;
	width:auto;
	display:inline-block; 
}

.companyHeader ul {
	color:var(--white);
}

.companyHeader ul li {
	margin:1em 0;
}

.companyHeader .displayPicture {
	width:170px;
	height:170px;
	background-size:cover;
	background-position:center;
	margin-top:3.5em;
}

.companyHeader .type {
	display:inline-block; 
}

.tab {
	background: var(--white);
	height:auto;
	border: 1px solid #BFBFBF;
	box-shadow: 0px 2px 4px 0px rgba(191,191,191,0.30);
}

.tab a:link, .tab a:visited {
	color:var(--darkGray);
}

.tab a:hover, .tab a:active {
		color:var(--darkGray);
		border-bottom:4px solid var(--orange);
		padding-bottom:1.30em;
}

.tab ul {
    float:left;
    margin:0;
}
.tab ul li {
	float:left;
	margin-right:2em;
    padding:2em 0;
}

.tab li:last-child {
	float:right !important;
	margin:0 !important;
    padding:1em 0;
}

.thePeople span {
	font-size:0.6em !important;
	text-transform:uppercase;
}

.thePeople p {
	line-height:1.5em;
	margin:1em 0;
}

.thePeople .singlePerson {
	height:219px;
	width:219px;
	border-radius:50%;
	background-image:url('https://static.pexels.com/photos/6980/summer-cute-hipster-beauty-large.jpg');
    background-size:cover;
    background-position: center;
}
/*HOVER CARD*/
.hovercard {
    display: none;
	background:var(--darkGray);
    width: auto;
	height:100%;
	box-sizing:border-box;
    padding: 1em;
}

.hovercard p {
	line-height:1.3;
	color:var(--white)
}

.bigCard .gridImages li:hover .hovercard,
.bigCard .images li:hover .hovercard {
	display:block;
}

/**************/

.opportunities {
    width:100%;
    height:auto;
    background:rgba(50,50,50,0.05);
}

.opportunities select,
.opportunities input{
    width:100%;
}

.opportunities .intro h1,
.opportunities .intro h3 {
    text-align: center;
    margin:1em 0;
}

.opportunities .intro h3 {
    color:var(--lightGray);
}


/***************
	ABOUT 
***************/

.aboutSideBar {
	height:100%;
	width:100%;
}

.aboutSideBar h3 {
	text-transform:capitalize;
	color:var(--lightGray);
	clear:both;
    margin-top:1em;
}

.aboutSideBar a:link, .aboutSideBar a:visited{
	color:var(--darkGray) !important;
}

.aboutSideBar a:hover, .aboutSideBar a:active {
	text-decoration:underline;
}

.aboutSideBar ul {
	clear:both;
	float:left;
	text-transform:capitalize;
	margin-bottom:40px;
}

.aboutSideBar li {
	float:left;
	width:100%;
	padding:10px 0;
}

.content section {
    padding:1em 3em;
}

.content p {
	line-height:1.5;
	color:var(--lightGray);
}

.content .header {
    font-size:2em !important;
}

.content h1 {
    text-align: left;
	text-transform:capitalize;
}

.content h2 {
	color:var(--orange);
}

.content h3 {
	color: var(--darkGray);
	font-size:1em !important;
	line-height: 1.5;
	font-weight:bold;
	padding:0;
}

.content a:link, .content a:visited {
	color:var(--darkGray) !important;
	text-decoration:none;
}

.content a:hover, .content a:active {
	color:var(--darkGray) !important;
	text-decoration:underline;
}

.content ul {
	display:inline-block;
	width:100%;
	height:auto;
	margin-bottom:1em;
}

.content li {
	float:left;
	width:100%;
	list-style: square;
	list-style-position:inside;
	margin:0.5em 0;
}


/********
SEARCH
*******/
.search {
	width:100%;
	height:60px;
	clear:both;
	position: absolute;
	bottom:0;
	left:0;
	background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.30) 100%);
}

.search input[type="text"], .search select {
	background:transparent;
	display:block;
	border:0;
	outline:0;
	color:var(--white) !important;
	width:100%;
}


.search select option {
	color:var(--darkGray);
}

    .search hr {
        display:none;
    }

/********
BLOG POST
*******/
.post p {
    color:var(--lightGray);
    padding:1em;
    line-height: 1.5;
}

.post section {
    padding:4em;
}

.post .author h2 {
    padding:0.5em 0 0.5em 0 !important;
}

.post .author {
    background-color:#FCFCFC;
    border-top:1px solid #BFBFBF;
    padding:1em;
}

.post .social {
    display:inline-block;
    width:100%;
    height:auto;
}

.post .social img {
    height:30px;
    width:auto;
}

.post .social li {
    float:left;
    margin:1em 1em 1em 0;
}

.post .author p {
    padding:1em 0;
}

.post .author .authorImg {
    width:100px;
    height:100px;
    border-radius: 50%;
    background-size:cover;
    background-position: center;
}

/****************
LEARNING RESOURCES
****************/
.sort {
    width:100%;
    height:auto;
    background:var(--white);
    border-bottom: 1px solid #BFBFBF;
    margin-bottom:1em;
}

.sort select {
    width:50%;
    margin-right:1em;
}

.sort input[type='input'] {
    float:right;
}


.supportCard .tag {
    float:right;
}

.supportCard .tag li {
    float:left;
    margin-right:1em;
    font-size:0.8em;
}

.supportCard h1 {
    height:3em;
}

    .sort hr {
        display:none;
    }


/****************
SINGLE USER
****************/
.userCard {
	height:auto;
}

.userCard h1 {
	font-size:2em !important;
	padding:0em;
}

.userCard ul {
	display:inline-block;
}

.userCard ul li {
	float:left;
	margin-right:1em;
	background:var(--orange);
	color:var(--white);
	padding:0.5em;
	border-radius:5px;
}

.userCard span {
	font-size:0.8em;
	display:block;
	padding:1em 0;
	color:var(--orange);
	font-weight:bold;
}

.userCard h3,
.userCard h4 {
	padding:1em 0;
}

.userCard h3 {
	font-size:1.2em !important;
	color:var(--darkGray);
}

.contactButton:link, 
.contactButton:visited {
	background:var(--orange);
	color:var(--white);
	text-align:center;
	text-transform:uppercase;
	padding:2em;
	margin:1em 0 !important;
	font-size:1.5em;
	display:block;
}

.contactButton:hover, 
.contactButton:active {
	background:var(--darkGray);
}

.quote {
    font-style: italic;
    padding:1em;
    font-size: 1.3em;
    line-height: 1.5em;
}

.education {
    border-bottom:1px solid var(--lightGray);
    width:100%;
    height:auto;
    margin-bottom:1em;
}

.education:last-child {
    border-bottom:0;
}
/****************
Opportunity Single
****************/
.crumb {
	width:100%;
	background:var(--white);
	border: 1px solid #BFBFBF;
	box-shadow: 0px 2px 4px 0px rgba(191,191,191,0.30);
	box-sizing: border-box !important;
}

.crumb a:link,
.crumb a:visited {
	color:var(--lightGray)
}

.crumb a:hover,
.crumb a:active {
	color:var(--darkGray);
    text-decoration:underline;
}

.crumb ul li {
    float:left;
    padding:1.5em 0.5em;
}

.crumb ul li:after {
    content:'/';
    padding-left:1em;
}

.crumb ul li:last-child:after {
    content:'';
}


.displayPicture {
	position:relative;
	width:150px;
	height:150px;
	background-image:url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/12234957_195242300847867_9193053891343381776_n.png?oh=b7506a67050bd9037b4b1387cb1f94b0&oe=58785757');
	background-position:center;
	background-size:cover;
	margin-top:1em;
}

.displayPicture .type {
    position:absolute;
	left:0;
	bottom:0;
}

.opportunityCard {
	height:auto;
	padding-bottom:1em;
}

.opportunityCard .cardImage {
    height:300px;
	position:relative;
}

.opportunityCard ul li {
	margin:1em 0;
	list-style:square;
	list-style-position:inside;
    font-size:1.3em;
    color:var(--lightGray);
}

.opportunityCard  h3 {
	margin:1.5em 0;
	font-size:1.4em !important;
	font-weight:bold;
    color:var(--darkGray);
}

.opportunityCard h1 {
	font-size:2.8em !important;
    margin:0.5em 0;
    padding:0 !important;
}

.opportunityCard p {
    font-size:1.3em;
}

.opportunityCard section {
    padding:1em 4em !important;
}

.opportunityCard .displayPicture {
    width:60px;
    height:60px; 
    float:left; 
    margin:0 1em 0 0;
}

.opportunityCard .companyInfo {
    width:100%; 
    height:auto;
}

.opportunityCard .companyInfo p {
    padding:1em 0; 
    display:inline-block;
}

.opportunityCard .companyInfo .button {
    float:right; 
    margin:0.5em 0;
}


/*CompanyUser*/
.applicants {
    width:100%;
    float:left;
    clear:both;
    height:auto;
    margin-bottom:2em;
}

.applicants .displayPicture {
    width:50px;
    height:50px;
    margin:0;
    border-radius: 50%;
}

.applicants p {
    margin-top:1em;
    font-size:1.2em;
    line-height:1;
}

/****************************
For Employees Landing Page
****************************/
.darkBody {
    background-color:var(--darkGray);
}

.darkBody h1,
.darkBody h2{
    color:var(--lightGray);
    line-height: 1.5;
}

.darkBody p {
    color:var(--white);
    line-height: 1.5;
}

.openingEmployee {
    width:100%;
    height:500px;
    position:relative;
    background-image:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/ONN4Z188GF.jpg');
}

.openingEmployee h1 {
    color:var(--white);
}

.openingEmployee ul li {
    float:left;
    margin-right:1em;
}


.infoEmployee {
    min-height:300px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.infoEmployee h2 {
    margin:1em 0;
    padding-top:3em;
    color:var(--white);
    font-weight: bold;
}

.infoEmployee p {
    color:rgba(255,255,255,0.8);
}

.process div {
    margin-bottom:4em;
}

.process img {
    display: block;
    margin:0 auto 5em auto;
}

.companySignUp {
    background:rgba(0,0,0,0.2);
    width:100%;
    height:auto;
}

.companySignUp h1 {
    color:white;
    margin:1em 0;
    font-size:3em !important;
}

.companySignUp h1, 
.companySignUp .button {
    text-align: center;
}

.companySignUp .button {
    margin-bottom:3em;
    font-size:1.3em;
}

/*****
My Profile
*****/

.is_viewing_profile {
    background:var(--orange);
    height:40px;
    line-height:35px;
}

.is_viewing_profile span {
    color:white;
}
