html, body {
	background:#fff;
	font-family:'Azo Sans','helvetica' !important;
	font-size: 14px;
	color:#323232;
}
.container {
	width:960px;
	margin:0 auto;
}

h1 {font-size:2em !important;}
h2 {font-size:1.5em !important;}
h3 {font-size:1.3em !important;}
h4 {font-size:1em !important;}

.logo {
	height:70px;
	width:auto;
	float:left;
	margin-top:8px;
}

/***************
	HEADER 
***************/

.nav {
	width:100%;
	background:#323232;
	height:110px;
	font-size:11px;
    text-transform: uppercase;
}

.nav a:link, .nav a:visited {
	color:rgba(255,255,255,0.5); 
	text-decoration: none;
}

.nav a:hover, .nav:active {
	color:rgba(255,255,255,1);
	text-decoration: none;
}

.bottom {
	background:#F37021;

}

.nav ul {
	float:right;
}

.nav ul li {
	float:left !important;
	margin:10px;
}

.top ul {
	margin-top:25px;
}

.top, .bottom {
	float:left;
	clear:both;
	width:100%;
}

.top {
	height:80px;
}

.bottom {
	height:30px;
}

/***************
	HOMEPAGE 
***************/

.opener {
	width:100%;
	background: #000;
	height:450px;
}

.opener h1, .opener h2 {
	text-align: center;
	color:#fff;
}

.opener h1 {
	padding-top:60px;
}

.opener ul {
	width:960px;
}

.opener ul li {
	float:left;
	margin:10px;
	border:1px solid #fff;
	padding:10px;
	border-radius: 5px;
    text-transform: uppercase;
    font-size:11px;
}

.opener ul li a:link, .opener ul li a:visited {
	color:white;
	text-decoration: none;
}

.opener ul li a:hover, .opener ul li a:active {
	color:white;
	text-decoration: none;
}

.fresh {
	float:left;
	width:50%;
}

.row img {
	width:215px;
	height:121px;
	float:left;
}

.row {
	float:left;
	clear:both;
}

.col {
	width:215px;
	float:left;
}

.blog {
	width:100%;
	height:auto;
	background:#323232;
	color:#fff;
	padding:10px 0;
}

.blog h1 {
	line-height: 3;
}

.blogPost {
	float:left;
	width:293px;
	margin:0 10px;
	position: relative;
	height:300px;
}

.blogPost h3 {
	line-height: 1.5;
}

.blogPost img {
	width:293px;
	height:185px;
	background:black;
}

.blogPostBottom {
	position:absolute;
	bottom:0px;
	left:0px;
}

.blogPostBottom li {
	float:left;
}

/***************
	FOOTER 
***************/

footer {
	background:#F37021;
	width:100%;
	height:auto;
	padding:30px 0 !important;
	clear:both;
	font-size:12px !important;
}

footer h4 {
	color:#fff;
	text-transform: uppercase;
	line-height: 3;
}

footer ul li {
	float:left;
	line-height: 2;
	clear:both;
	text-transform: capitalize;
}

footer a:link, footer a:visited {
	color:rgba(255,255,255,0.8);
	text-decoration: none;
}

footer a:hover, footer a:active {
	color:rgba(255,255,255,1);
	text-decoration: none;
}